<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div>
      <header>
        <h1>
          <a href="/">The Tech Blog</a>
        </h1>
      </header>
    {{#if loggedIn }}
      {{> private-navbar}}
    {{else}}
      {{> public-navbar}}
    {{/if}}
      
      <main>
        {{{body}}}
      </main>
      <footer>
        <div class="card-body card text-center bg-light">
          <p class="card-text">© Tech Blog 2022</p>
        </div>
      </footer>
    </div>

  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.slim.min.js"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.min.js"
  ></script>
</html>